@use "../utilities/extends" as *;
@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.indexHeader {
    background-image: url("../img/indexHeaderBackground.jpg");
    position: relative;
    @extend .backgroundHeaders;
}

.oscurecer-fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $negroTransparente;
}

.indexHeaderContainer {
    @extend .d-flexBasico;
}

.tiendaHeader {
    background-image: url("../../img/headertienda.JPG");
    position: relative;
    @extend .backgroundHeaders;
}

.indexTiendaContainer {
    @extend .d-flexBasico;
}

.contactoHeader{
    background-image: url("../../img/indexContacto.JPG");
    position: relative;
    @extend .backgroundHeaders;
}

.excursionesHeader{
    background-image: url("../../img/excursionesHeader.jpg");
    position: relative;
    @extend .backgroundHeaders;
}

.hospedajesHeader{
    background-image: url("../../img/hospedajeHeader.jpg");
    position: relative;
    @extend .backgroundHeaders;
}
