.backgroundHeaders{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
}

.backgroundExcursiones{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 65vh;
}

.d-flexBasico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}